<section class=" history_wrap wrapper w-100">
    <div class="container-fluid px-lg-5"> 
        <div class="wrap_confirmation">	
            <div class="row py-4">	
                <div class="col-lg-9 col-md-8 mb-4  text-center">	
                    <div class="conard_wrap_works"> 
                        <div class="row	">
                            <div class="col-sm-5 text-left">
                                <div class=" ">
                                    <div class="tabs-wrap nb_library post-library">      
                                        <div class="tabs-content">
                                            <div class="tab-content active imgc" data-tab="tab-1">
                                                <img src="assets/images/producta.jpg" alt="">

                                            </div>
                                            <div class="tab-content imgc" data-tab="tab-2">
                                                <img src="assets/images/producta.jpg" alt="">

                                            </div>
                                            <div class="tab-content imgc" data-tab="tab-3">
                                                <img src="assets/images/product.jpg" alt="">

                                            </div>  
                                            <div class="tab-content imgc" data-tab="tab-4">
                                                <img src="assets/images/product.jpg" alt="">

                                            </div>
                                            <div class="tab-content imgc" data-tab="tab-5">
                                                <img src="assets/images/product.jpg" alt="">

                                            </div>
                                        </div>
                                        <div class="tabs">
                                            <a href="#" class="tab active" data-tab="tab-1">
                                                <span class="imgc">
                                                    <img src="assets/images/producta.jpg" alt="">
                                                </span>
                                            </a>
                                            <a href="#" class="tab" data-tab="tab-2">
                                                <span class="imgc">
                                                    <img src="assets/images/product.jpg" alt="">
                                                </span>
                                            </a>
                                            <a href="#" class="tab" data-tab="tab-3">
                                                <span class="imgc">
                                                    <img src="assets/images/product.jpg" alt="">
                                                </span>
                                            </a>       
                                            <a href="#" class="tab" data-tab="tab-4">
                                                <span class="imgc">
                                                    <img src="assets/images/product.jpg" alt="">
                                                </span>
                                            </a>
                                            <a href="#" class="tab" data-tab="tab-5">
                                                <span class="imgc">
                                                    <img src="assets/images/product.jpg" alt="">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 text-left   "> 
                                <div class="h5 text-dark">Шаровая опора FEBI BILSTEIN Mercedes W212 36884</div>
                                <p>Скидка при заказе: Скидка 65,72 cум. за каждые 1 314,30 сум. </p>
                            </div> 


                        </div>
                        <hr>	
                    </div>
                </div>					
                <div class="col-lg-3 col-md-4 text-center">	
                    <div class="	conard_wrap_works">
                        <div class="h6 text-center font-weight-bold text-dark border-b-2">	СОСТАВ ЗАКАЗА</div>
                        <hr>
                        <div class="row d-flex align-items-center pb-2  ">
                            <div class="col-1">
                                <p>1</p>
                            </div>
                            <div class="col-10 text-left">
                                <p>Шаровая опора FEBI BILSTEIN</p>
                                <p>Mercedes W212 36884</p>
                                <p>1 x 342 720 sum</p>
                            </div>
                        </div>							
                        <div class="row d-flex align-items-center pb-2">
                            <div class="col-1">
                                <p>2</p>
                            </div>
                            <div class="col-10 text-left">
                                <p>Шаровая опора FEBI BILSTEIN</p>
                                <p>Mercedes W212 36884</p>
                                <p>1 x 342 720 sum</p>
                            </div> 
                        </div>
                        <hr>
                        <div class="row"> 
                            <div class="col-6">
                                <p>Подытог  </p>
                            </div>
                            <div class="col-6">
                                <p>  342 720 sum</p>
                            </div>
                            <div class="col-12">
                                <p class="py-3">
                                    <a href="#" class="text-info h6">Редактировать заказ</a>
                                </p>
                            </div>
                        </div> 
                    </div>
                </div>
                                <div class="col-12">
                <div class="h4 text-center font-weight-bold text-dark py-3">Шаровая опора FEBI BILSTEIN Mercedes W212 36884 - Характеристики</div>
                <table class="table table-striped"> 
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Модель кузова	 </td>
                            <td>   MB W212</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Марка	</td>
                            <td> MB W212</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Модель</td>
                            <td>  MERCEDES BENZ</td> 
                        </tr>			<tr>
                            <th scope="row">4</th>
                            <td>Страна	</td>
                            <td>  MB E-CLASS</td> 
                        </tr>			<tr>
                            <th scope="row">5</th>
                            <td>Бренд	  </td>
                            <td>    ТУРЦИЯ</td> 
                        </tr>			<tr>
                            <th scope="row">6</th>
                            <td>Артикул бренда</td>
                            <td>    FEBI BILSTEIN</td> 
                        </tr>			<tr>
                            <th scope="row">7</th>
                            <td>Базовая единица	  </td>
                            <td>  36884    Шт</td> 
                        </tr>			
                        <tr>
                            <th scope="row">8</th>
                            <td>Категория на сайте	</td>
                            <td>     Подвеска и рулевое </td> 
                        </tr>			<tr>
                            <th scope="row">9</th>
                            <td>Кросс коды OEM	  </td>
                            <td>      2123300135</td> 
                        </tr>			 
                    </tbody>
                </table>
            </div> 
            </div>
        </div>
    </div>
</section>
