<section class=" history_wrap wrapper w-100">
    <div class="container-fluid px-lg-5"> 
        <div class="wrap_confirmation">	
            <div class="row py-4 ">	
                <div class="col-12 wrapper_about text-center m-auto "    >
                    <h2 class="wrapper_about_teme"><span class="border_blue"  ></span>КОРЗИНА <span class="border_blue" ></span></h2>
                    <p class="wrapper_about_text pb-3 ">	It is a long established fact that a reader will be   distracted  by the readable content of  a page when looking at its layout. The point of using Lorem   </p>			
                </div>
                <div class="col-lg-9 col-md-8 mb-4  text-center">	
                    <div class="conard_wrap_works"> 
                        <div class="row	">
                            <div class="col-sm-5 text-left">
                                <div class=" ">
                                    <div class="tabs-wrap nb_library post-library">      
                                        <div class="tabs-content">
                                            <div class="tab-content active imgc" data-tab="tab-1">
                                                <img src="assets/images/producta.jpg" alt="">
                                            </div>
                                            <div class="tab-content imgc" data-tab="tab-2">
                                                <img src="assets/images/producta.jpg" alt="">
                                            </div>
                                            <div class="tab-content imgc" data-tab="tab-3">
                                                <img src="assets/images/product.jpg" alt="">
                                            </div>  
                                            <div class="tab-content imgc" data-tab="tab-4">
                                                <img src="assets/images/product.jpg" alt="">
                                            </div>
                                            <div class="tab-content imgc" data-tab="tab-5">
                                                <img src="assets/images/product.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="tabs">
                                            <a href="#" class="tab active" data-tab="tab-1">
                                                <span class="imgc">
                                                    <img src="assets/images/producta.jpg" alt="">
                                                </span>
                                            </a>
                                            <a href="#" class="tab" data-tab="tab-2">
                                                <span class="imgc">
                                                    <img src="assets/images/product.jpg" alt="">
                                                </span>
                                            </a>
                                            <a href="#" class="tab" data-tab="tab-3">
                                                <span class="imgc">
                                                    <img src="assets/images/product.jpg" alt="">
                                                </span>
                                            </a>       
                                            <a href="#" class="tab" data-tab="tab-4">
                                                <span class="imgc">
                                                    <img src="assets/images/product.jpg" alt="">
                                                </span>
                                            </a>
                                            <a href="#" class="tab" data-tab="tab-5">
                                                <span class="imgc">
                                                    <img src="assets/images/product.jpg" alt="">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 text-left   "> 
                                <div class="h5 text-dark">Шаровая опора FEBI BILSTEIN Mercedes W212 36884</div>
                                <p>Скидка при заказе: Скидка 65,72 cум. за каждые 1 314,30 сум. </p>
                                <button class="">131,43 сум. Купон нового пользователя</button>
                                <button class="">Скидка 394,29 сум. за каждые 4 271,48 сум.</button>
                            </div> 


                        </div>
                        <hr>	
                    </div>
                </div>					
                <div class="col-lg-3 col-md-4 text-center">	
                    <div  class="product-image-wrap product-wrap-mobile text-center mb-3"    >
                        <div class="product-like">
                          <div class="d-inline-block float-left">
                            <button class="fa fa-star aktive-star"></button>
                            <button class="fa fa-star aktive-star"></button>
                            <button class="fa fa-star aktive-star"></button>
                            <button class="fa fa-star-o"></button>
                            <button class="fa fa-star-o"></button>
                          </div>
                          <div class="d-inline-block float-right">
                            <button class="fa fa-heart aktive"></button>
                          </div> 
                        </div>
                        <a  routerLink="/about-product">
                          <div class="p-2">
                            <img   src="assets/images/Img/8.png"    alt="">
                            <p class="pl-1" >Ходовая часть</p> 
                            <div class="text-left product-price pl-1    text-dark " >25,000,000 сум</div>
                          </div>
                        </a>
                        <div class="shopping-button"  >
                          <button (click)="add()" class="button_price   w-100" > <span class="fa fa-shopping-cart"></span> Добавить в корзину</button>
                        </div>
                      </div> 
                </div>
                                
                
                <div class="col-12">
                <div class="h4 text-center font-weight-bold text-dark py-3">Шаровая опора FEBI BILSTEIN Mercedes W212 36884 - Характеристики</div>
                <table class="table table-striped"> 
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Модель кузова	 </td>
                            <td>   MB W212</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Марка	</td>
                            <td> MB W212</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Модель</td>
                            <td>  MERCEDES BENZ</td> 
                        </tr>			<tr>
                            <th scope="row">4</th>
                            <td>Страна	</td>
                            <td>  MB E-CLASS</td> 
                        </tr>			<tr>
                            <th scope="row">5</th>
                            <td>Бренд	  </td>
                            <td>    ТУРЦИЯ</td> 
                        </tr>			<tr>
                            <th scope="row">6</th>
                            <td>Артикул бренда</td>
                            <td>    FEBI BILSTEIN</td> 
                        </tr>			<tr>
                            <th scope="row">7</th>
                            <td>Базовая единица	  </td>
                            <td>  36884    Шт</td> 
                        </tr>			
                        <tr>
                            <th scope="row">8</th>
                            <td>Категория на сайте	</td>
                            <td>     Подвеска и рулевое </td> 
                        </tr>			<tr>
                            <th scope="row">9</th>
                            <td>Кросс коды OEM	  </td>
                            <td>      2123300135</td> 
                        </tr>			 
                    </tbody>
                </table>
            </div> 
            </div>
        </div>
    </div>
</section>



<section id="owl-1" >
    <div class="container-fluid py-3 px-lg-5">
      <div class="product-tem-card p-2">
        <div class=" d-inline-block product-price font-weight-bold h5 text-dark  " >ПОПУЛЯРНЫЕ ТОВАРЫ</div>
        <div class="  product-price float-right  d-inline-block   h5 text-dark  " >Больше   товаров</div>
      </div>
    <div class="owl-carousel owl-theme" >
      <div class="card hoverable" >
        <div class="card-image waves-effect waves-block waves-light">
          <div  class="product-image-wrap product-wrap-mobile text-center"   >
            <div class="product-like">
              <div class="d-inline-block float-left">
                <button class="fa fa-star aktive-star"></button>
                <button class="fa fa-star aktive-star"></button>
                <button class="fa fa-star aktive-star"></button>
                <button class="fa fa-star-o"></button>
                <button class="fa fa-star-o"></button>
              </div>
              <div class="d-inline-block float-right">
                <button class="fa fa-heart aktive"></button>
              </div> 
            </div>
            <a  routerLink="/about-product">
              <div class="p-2">
                <img   src="assets/images/Img/8.png"    alt="">
                <p class="pl-1" >Ходовая часть</p> 
                <div class="text-left product-price pl-1    text-dark " >25,000,000 сум</div>
              </div>
            </a>
            <div class="shopping-button"  >
              <button (click)="add()" class="button_price   w-100" > <span class="fa fa-shopping-cart"></span> Добавить в корзину</button>
            </div>
          </div>
        </div>  
      </div>    
    </div>      
    </div>      
  
    <div class="container-fluid py-3 px-lg-5">
      <div class="product-tem-card p-2">
        <div class=" d-inline-block product-price font-weight-bold h5 text-dark  " >ПОПУЛЯРНЫЕ ТОВАРЫ</div>
        <div class="  product-price float-right  d-inline-block   h5 text-dark  " >Больше   товаров</div>
      </div>
    <div class="owl-carousel owl-theme">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <div class="product-image-wrap product-wrap-mobile text-center"   >
            <div class="product-like">
              <div class="d-inline-block float-left">
                <button class="fa fa-star aktive-star"></button>
                <button class="fa fa-star aktive-star"></button>
                <button class="fa fa-star aktive-star"></button>
                <button class="fa fa-star-o"></button>
                <button class="fa fa-star-o"></button>
              </div>
              <div class="d-inline-block float-right">
                <button class="fa fa-heart aktive"></button>
              </div> 
            </div>
            <a href="">
              <div class="p-2">
                <img   src="assets/images/Img/8.png"    alt="">
                <p class=" pl-1" >Ходовая часть</p> 
                <div class="text-left product-price  pl-1   text-dark " >25,000,000 сум</div>
              </div>
   
            </a>
            <div class="shopping-button"  >
              <button class="button_price   w-100" > <span class="fa fa-shopping-cart"></span> Добавить в корзину</button>
            </div>
          </div>
        </div>  
      </div>       
    </div>      
    </div>  
   
  
 
   
  </section>