<div class="container py-4">
  <div class="  row">
    <div class=" col-lg-8   ">
      <div class="product ux-card row ">
        <div class="col-8">
          <div class="h4 text-dark font-weight-bold pb-2">Корзина (2)</div>
        </div>
      </div>


      <div class="product ux-card row ">
        <div class="col-lg-2 p-0 text-center">
          <img src="assets/images/motor.webp" class="img-fluid" style="height: 100px;" alt="">
        </div>
        <div class="col-lg-10 ">
          <div class=" text-dark h6 font-weight-bold ">Шаровая опора FEBI BILSTEIN Mercedes W212 36884</div>
          <p  class="product-actions">131,43 сум. Купон нового пользователя</p>
          <p  class="py-2">Скидка при заказе: Скидка 65,72 cум. за каждые 1 314,30 сум.  </p>
          <p  > <span class="font-weight-bold h4 text-dark">372 000 сум.</span> 11 164,98 сум.   -91%  Для новых пользователей</p>
          <div  > 
            <button class="button-disconnect-card">-</button>
            <!-- <input type="text" placeholder="11" disabled> -->
            <span class="  h6">11</span>
            <button class="button-disconnect-card">+</button>
          </div> 
        </div>
        <div class="" style="position: absolute; right: 10px;top: 10px;">
          <button class="remove-button"> <mat-icon aria-hidden="false" class="d-inline-block"  aria-label="Example add_shopping_cart icon">favorite_border</mat-icon></button>
          <button class="like-button"><mat-icon aria-hidden="false" class="d-inline-block"  aria-label="Example add_shopping_cart icon">restore_from_trash</mat-icon></button>
        </div>
                
      <!-- <div class="col-12 text-right">  
        <button class=" butoncard btn " style=" background-color: #504AFF;color: #fff;">Заказат у этого прадавца</button>
    </div> -->
    </div>
  </div>
  <div class=" col-lg-4    ">
  <div class="conard_wrap_works  row m-0 ">
    <div class="col-12"> 
      <div class="h5 text-dark font-weight-bold">Итого:</div>
    </div>
    <div class="col-6">
      <p class="fonts-size18 pb-3">Стоимость</p>
    </div>
    <div class="col-6">
      <p class="fonts-size18 pb-3">    0,00 сум.</p>
    </div>
    <div class="col-6">
      <p class="fonts-size18 pb-3">Скидка: 
      </p>
    </div>
    <div class="col-6">
      <p class="fonts-size18 pb-3">    0,00 сум.</p>
    </div> 
    <div class="col-6">
      <p class="fonts-size18 pb-3 ">Всего к оплате:</p>
    </div>
    <div class="col-6">
      <p class="h5 pb-3 font-weight-bold text-dark">    629 000 сум.</p>
    </div>
    <div class="col-12">
      <button routerLink='/delvery' class="btn text-white w-100 mb-3 card-button-dast" >Оформить заказ</button>
    </div>
 
  </div>

   
  </div>
</div>
</div>
 
 