<div class="container py-4">
  <div class="cart row">
    <div class="basket col-md-9   ">

      <div class="product ux-card row ">
          <div class="col-2 p-0">
              <img src="assets/images/podct2.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-8">
            <div class=" text-dark font-weight-bold pb-2">Шаровая опора FEBI BILSTEIN Mercedes W212 36884</div>
            <p style="background-color:#FF7D0C;color:#fff;display: inline-block;padding:3px 10px;">131,43 сум. Купон нового пользователя</p>
            <p>Скидка при заказе: Скидка 65,72 cум. за каждые 1 314,30 сум.  </p>
            <p  > <span class="font-weight-bold h5">372 000 сум.</span> 11 164,98 сум.   -91%  Для новых пользователей</p>
            <button class=" butoncard  ">Добавить в корзину</button>
          </div>
      </div>
      <div class="product ux-card">
        <!-- <img src="https://img1.wsimg.com/fos/react/sprite.svg#website-builder" height="32" width="32" /> -->
        <span class="title"><a href=" ">Website Builder</a></span>
        <span class="price">$12.00</span>
        <span class="tier">Personal</span>
        <span class="term">12 months</span>
        <span class="renews">Renews at $5.99/mo</span>
        <button class="btn btn-canvas btn-xs remove" href=" "><span class="uxicon uxicon-trash"></span>Remove</button>
      </div>
      <div class="product ux-card">
        <!-- <img src="https://img1.wsimg.com/fos/react/sprite.svg#get-found" height="32" width="32" /> -->
        <span class="title"><a href=" ">Get Found</a></span>
        <span class="price"> $143.88</span>
        <span class="tier">Essential</span>
        <span class="term">12 months</span>
        <span class="renews">Renews at $11.99/mo</span>
        <button class="btn btn-canvas btn-xs remove" href=" "><span class="uxicon uxicon-trash"></span>Remove</button>
      </div>
    </div>
    
 
  </div>
</div>
 
 