<section class="catalog_about_us wrapper w-100">
    <div class="container-fluid px-lg-5">	
        <div class="catalog-image"></div>
        <div class="row   justify-content-center d-flex align-items-center">	
            <div class="col-lg-10 wrapper_about text-center  " >

                <h2 class="catalog_about_teme px-lg-4">  Запчасти к популярным легковым моделям  Mercedes Benz <span class="border_bottom"></span></h2>

                <p class="catalog_about_text  ">	Предлагаем Вашему вниманию каталог ОРИГИНАЛЬНЫХ запчастей и качественных ЗАМЕНИТЕЛЕЙ <br> (неоригинальных запчастей) к наиболее популярным легковым моделям Мерседес. <br>
                Выберите, пожалуйста, серию и модель Вашего авто: </p>			
            </div>
            <div class="col-12">
                <div class="h5 font-weight-bold textcolor m-0">Марка автомобиля</div>
            </div>
            <div class="col-sm-6 col-md-4 ">
                <select class="form-control form-control-lg">
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                </select>
            </div> <!-- col-4-->				
            <div class="col-sm-6 col-md-4">
                <select class="form-control form-control-lg">
                    <option>Модель</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                </select>
            </div> <!-- col-4 -->				
            <div class="col-sm-6 col-md-4">
                <select class="form-control form-control-lg">
                    <option>Класс</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                </select>
            </div> <!-- col-4 -->				
            <div class="col-sm-6 col-md-4">
                <select class="form-control form-control-lg">
                    <option>Год выпуска</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                </select>
            </div> <!-- col-4 -->				
            <div class="col-sm-6 col-md-4">
                <select class="form-control form-control-lg">
                    <option>Модификация</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                </select>
            </div> <!-- col-4 -->				
            <div class="col-sm-6 col-md-4">
                <button class="btn btn-primary w-100 ">Применить</button>
            </div> <!-- col-4 -->
            <div class="col-12">
                <p class="h5 pt-3 font-weight-bold">Каталог Mercedes-Benz G-CLASS Cabrio (W463) 350 G Turbo-D (463.300) </p>
                <p class="h5   font-weight-bold">136 л.с. 09.1991 / 09.1997 </p>
            </div>
        </div>
        <hr>
        <div class="catalog_menu  "  >
            <div class="row  no-gutters ">
                <div class=" col-md-4  ">
                    <div class="catalog_menu_tem bgcolor d-flex justify-content-center align-items-center"> <span class="h5 text-white ">Модельный ряд Mercedes-Benz </span></div>	
                </div>
                <div class=" col-md-4 "  >
                    <div class="catalog_menu_tem d-flex justify-content-center   align-items-center"   > <span class="h5  ">Легковые автомобили</span>  </div>	<span class="border-rotate" > </span> 
                    <!-- style="clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);" -->
                </div>
                <div class=" col-md-4" style="position: relative;">
                    <div class="catalog_menu_tem   d-flex justify-content-center align-items-center"   > <span class="h5  ">Коммерческий транспорт</span>  </div>
                    <!--  style="clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);"	 -->
                </div>
            </div>
        </div>
        <div class="catalog_detail p-3">
            <div class="row">
                <div class="col-md-4  col-sm-6">
                    <div class="catalog_detail_box text-center">
                        <img src="assets/images/Img/a.png" class="img-fluid w-75" alt="">
                        <div class="h4 pt-3 font-weight-bold">Mercedes-Benz A</div>
                    </div>
                </div>					
                <div class="col-md-4 col-sm-6">
                    <div class="catalog_detail_box text-center">
                        <img src="assets/images/Img/a.png" class="img-fluid w-75" alt="">
                        <div class="h4 pt-3 font-weight-bold">Mercedes-Benz A</div>
                    </div>
                </div>					
                <div class="col-md-4 col-sm-6">
                    <div class="catalog_detail_box text-center">
                        <img src="assets/images/Img/a.png" class="img-fluid w-75" alt="">
                        <div class="h4 pt-3 font-weight-bold">Mercedes-Benz A</div>
                    </div>
                </div>					
                <div class="col-md-4 col-sm-6">
                    <div class="catalog_detail_box text-center">
                        <img src="assets/images/Img/a.png" class="img-fluid w-75" alt="">
                        <div class="h4 pt-3 font-weight-bold">Mercedes-Benz A</div>
                    </div>
                </div>					
                <div class="col-md-4 col-sm-6">
                    <div class="catalog_detail_box text-center">
                        <img src="assets/images/Img/a.png" class="img-fluid w-75" alt="">
                        <div class="h4 pt-3 font-weight-bold">Mercedes-Benz A</div>
                    </div>
                </div>					
                <div class="col-md-4 col-sm-6">
                    <div class="catalog_detail_box text-center">
                        <img src="assets/images/Img/a.png" class="img-fluid w-75" alt="">
                        <div class="h4 pt-3 font-weight-bold">Mercedes-Benz A</div>
                    </div>
                </div>					
                <div class="col-md-4 col-sm-6">
                    <div class="catalog_detail_box text-center">
                        <img src="assets/images/Img/a.png" class="img-fluid w-75" alt="">
                        <div class="h4 pt-3 font-weight-bold">Mercedes-Benz A</div>
                    </div>
                </div>					
                <div class="col-md-4 col-sm-6">
                    <div class="catalog_detail_box text-center">
                        <img src="assets/images/Img/a.png" class="img-fluid w-75" alt="">
                        <div class="h4 pt-3 font-weight-bold">Mercedes-Benz A</div>
                    </div>
                </div>					
                <div class="col-md-4 col-sm-6">
                    <div class="catalog_detail_box text-center">
                        <img src="assets/images/Img/a.png" class="img-fluid w-75" alt="">
                        <div class="h4 pt-3 font-weight-bold">Mercedes-Benz A</div>
                    </div>
                </div>
                <div class="col-12 mt-2 text-center ">
                    <button class="btn btn-primary bgcolor border-0 px-4">Показат все</button>
                </div>

            </div>
        </div>
 
    </div>
</section>