<section class="catalog_about_us wrapper w-100">
    <div class="container-fluid px-lg-5">	
        <div class="catalog-image"></div>
        <div class="row   justify-content-center d-flex align-items-center">	
            <div class="col-lg-10 wrapper_about text-center  " >

                <h2 class="catalog_about_teme px-lg-4">  Запчасти к популярным легковым моделям  Mercedes Benz <span class="border_bottom"></span></h2>

                <p class="catalog_about_text  ">	Предлагаем Вашему вниманию каталог ОРИГИНАЛЬНЫХ запчастей и качественных ЗАМЕНИТЕЛЕЙ <br> (неоригинальных запчастей) к наиболее популярным легковым моделям Мерседес. <br>
                Выберите, пожалуйста, серию и модель Вашего авто: </p>			
            </div>
            <div class="col-12">
                <div class="h5    m-0">Qanday maxsulot izlayabsiz ?</div>
            </div>
            <div class="col-sm-6 col-md-4 ">
                <select class="form-control form-control-lg">
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                </select>
            </div> <!-- col-4-->				
            <div class="col-sm-6 col-md-4">
                <select class="form-control form-control-lg">
                    <option>Модель</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                    <option>Mercedes-Benz</option>
                </select>
            </div> <!-- col-4 -->				
 				
 				
            <div class="col-sm-6 col-md-4">
                <button class="btn btn-primary w-100 ">Применить</button>
            </div> <!-- col-4 -->
 
        </div>
        <hr>

        <app-magazin></app-magazin>
 
    </div>
</section>