<div class="row">
    <div class="col-lg-8">
        <div class="blog-card" *ngFor = 'let new of news'>
            <div class="meta">
                <div class="photo" style="background-image: url(assets/images/Img/84341208_2641742502540357_2156066066399232000_o.png)"></div>
                <ul class="details">

                </ul>
            </div>
            <div class="description">
                <h5 class="text-dark font-weight-bold">{{new.name_ru}}</h5>
                <p> {{new.description_ru}}</p>
                <p class="read-more">
                    <a href="#">Read More</a>
                </p>
            </div>
        </div>

        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(assets/images/news.jpg)"></div>
                <ul class="details">
                </ul>
            </div>
            <div class="description">
                <h5 class="text-dark font-weight-bold">Система DAS будет запрещена в 2021 году</h5>
                <p class="demo-text">Система рулевого управления DAS, разработанная Mercedes, вызвала бурю обсуждений в паддоке. Кто-то, например, Роман Грожан или Себастьян Феттель, в восторге от новинки, а кто-то считает, что DAS не соответствует регламенту, в частности, Хельмут Марко, но у FIA нет вопросов к разработке Mercedes.
                    Тем не менее, в 2021 году DAS будет запрещена. Несколько лет назад в регламент был внесён пункт, согласно которому любая техническая инновация может быть запрещена после года использования, если Комиссия Формулы 1 посчитает, что изобретение не представляет ценности для Формулы 1 или её внедрение связано с дополнительными затратами.
                    В соответствии с этим же пунктом команда, придумавшая новинку, обязана раскрыть всю информацию о технологии и особенностях работы, но после завершения сезона. Таким образом, только после гонки в Абу-Даби команды точно узнают, что именно придумали в Mercedes.
                    Даже если Комиссия Формулы 1 решит не предпринимать никаких действий против DAS, подобная система рулевого управления прямо запрещена пунктом 10.5.2 технического регламента 2021 года. Суть пункта сводится к тому, что изменение положения управляемых колёс, все регулировки которых определяются положением соответствующих элементов подвески, смонтированных внутри корпуса машины, которые находятся на фиксированном расстоянии друг от друга, должно осуществляться исключительно за счёт вращения рулевого колеса.
                    Иными словами, гонщик может вращать руль в одной плоскости, но не тянуть или отталкивать от себя.
                    Впрочем, Эдриан Ньюи считает, что DAS нужно запретить уже сейчас, а не ждать целый год: «Мне недостаточно объяснения, что DAS позволяет контролировать температуру шин. Должны быть и аэродинамические причины. Мне трудно понять, как подобная система может быть легальной. Гонщик не управляет машиной, когда тянет руль или отталкивает его от себя». </p>
                <p class="read-more">
                    <a href="#">Read More</a>
                </p>
            </div>
        </div>
        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(assets/images/news.jpg)"></div>
                <ul class="details">
                </ul>
            </div>
            <div class="description">
                <h5 class="text-dark font-weight-bold">Система DAS будет запрещена в 2021 году</h5>
                <p class="demo-text">Система рулевого управления DAS, разработанная Mercedes, вызвала бурю обсуждений в паддоке. Кто-то, например, Роман Грожан или Себастьян Феттель, в восторге от новинки, а кто-то считает, что DAS не соответствует регламенту, в частности, Хельмут Марко, но у FIA нет вопросов к разработке Mercedes.
                    Тем не менее, в 2021 году DAS будет запрещена. Несколько лет назад в регламент был внесён пункт, согласно которому любая техническая инновация может быть запрещена после года использования, если Комиссия Формулы 1 посчитает, что изобретение не представляет ценности для Формулы 1 или её внедрение связано с дополнительными затратами.
                    В соответствии с этим же пунктом команда, придумавшая новинку, обязана раскрыть всю информацию о технологии и особенностях работы, но после завершения сезона. Таким образом, только после гонки в Абу-Даби команды точно узнают, что именно придумали в Mercedes.
                    Даже если Комиссия Формулы 1 решит не предпринимать никаких действий против DAS, подобная система рулевого управления прямо запрещена пунктом 10.5.2 технического регламента 2021 года. Суть пункта сводится к тому, что изменение положения управляемых колёс, все регулировки которых определяются положением соответствующих элементов подвески, смонтированных внутри корпуса машины, которые находятся на фиксированном расстоянии друг от друга, должно осуществляться исключительно за счёт вращения рулевого колеса.
                    Иными словами, гонщик может вращать руль в одной плоскости, но не тянуть или отталкивать от себя.
                    Впрочем, Эдриан Ньюи считает, что DAS нужно запретить уже сейчас, а не ждать целый год: «Мне недостаточно объяснения, что DAS позволяет контролировать температуру шин. Должны быть и аэродинамические причины. Мне трудно понять, как подобная система может быть легальной. Гонщик не управляет машиной, когда тянет руль или отталкивает его от себя». </p>
                <p class="read-more">
                    <a href="#">Read More</a>
                </p>
            </div>
        </div>
        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(assets/images/news.jpg)"></div>
                <ul class="details">
                </ul>
            </div>
            <div class="description">
                <h5 class="text-dark font-weight-bold">Система DAS будет запрещена в 2021 году</h5>
                <p class="demo-text">Система рулевого управления DAS, разработанная Mercedes, вызвала бурю обсуждений в паддоке. Кто-то, например, Роман Грожан или Себастьян Феттель, в восторге от новинки, а кто-то считает, что DAS не соответствует регламенту, в частности, Хельмут Марко, но у FIA нет вопросов к разработке Mercedes.
                    Тем не менее, в 2021 году DAS будет запрещена. Несколько лет назад в регламент был внесён пункт, согласно которому любая техническая инновация может быть запрещена после года использования, если Комиссия Формулы 1 посчитает, что изобретение не представляет ценности для Формулы 1 или её внедрение связано с дополнительными затратами.
                    В соответствии с этим же пунктом команда, придумавшая новинку, обязана раскрыть всю информацию о технологии и особенностях работы, но после завершения сезона. Таким образом, только после гонки в Абу-Даби команды точно узнают, что именно придумали в Mercedes.
                    Даже если Комиссия Формулы 1 решит не предпринимать никаких действий против DAS, подобная система рулевого управления прямо запрещена пунктом 10.5.2 технического регламента 2021 года. Суть пункта сводится к тому, что изменение положения управляемых колёс, все регулировки которых определяются положением соответствующих элементов подвески, смонтированных внутри корпуса машины, которые находятся на фиксированном расстоянии друг от друга, должно осуществляться исключительно за счёт вращения рулевого колеса.
                    Иными словами, гонщик может вращать руль в одной плоскости, но не тянуть или отталкивать от себя.
                    Впрочем, Эдриан Ньюи считает, что DAS нужно запретить уже сейчас, а не ждать целый год: «Мне недостаточно объяснения, что DAS позволяет контролировать температуру шин. Должны быть и аэродинамические причины. Мне трудно понять, как подобная система может быть легальной. Гонщик не управляет машиной, когда тянет руль или отталкивает его от себя». </p>
                <p class="read-more">
                    <a href="#">Read More</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="news-top" style="background-color: #FBFBFB;margin: 15px;" >
            <div class="h4 font-weight-bold text-dark" style="border-left: 3px solid #4ABDFF; ">
                <div  style="padding: 10px 30px">ПОПУЛЯРНЫЙ</div>
            </div>
            <div class="row p-3 "  >
                <div class="col-3">
                    <img src="assets/images/image1.jpg" class="img-fluid" alt=""  >
                </div>
                <div class="col-9">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
                    <div class="pt-2">
                        <p class="d-inline-block">04.02.2020</p>
                        <a href="#" class="text-primary text-right float-right">Далее</a>
                    </div>
                </div>
                <hr>
            </div>
        </div>

    </div>
</div>